/* Estilos generales para los fieldset */
.organization-fieldset {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

/* Estilo para el legend */
.organization-fieldset legend {
    font-size: 1.5rem;
    color: #007bff;
    padding: 0 10px;
}

/* Estilo para las imágenes */
.organization-image {
    width: 40%;
    display: block;
    height: auto;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para los párrafos dentro del fieldset */
.organization-fieldset p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}


.organization-fieldset:hover{

transform: scale(1.05);

}


